Repository ecmwf/anemoi-utils, pull requests merged in 2025-05, with the labels that each got.

#150 fix: Use urllib to make _offline() aware of HTTP(s) proxies.
  src/anemoi/utils/testing.py
Labels: ATS Approval not needed

#154 fix: fix list_folder on s3
  src/anemoi/utils/remote/s3.py
Labels: enhancement

#155 chore: update to botocore>1.36
  pyproject.toml
  src/anemoi/utils/remote/s3.py
Labels: enhancement, dependencies

#149 fix: Remove the requirment to have git installed
  src/anemoi/utils/provenance.py
Labels: contributor

#153 chore(main): Release 0.4.23
  .release-please-manifest.json
  CHANGELOG.md
Labels: documentation, autorelease: pending

#156 chore: synced file(s) with ecmwf/reusable-workflows
  .github/CODEOWNERS
  .github/pull_request_template.md
  .github/release.yml
  .github/workflows/downstream-ci-hpc.yml
  .github/workflows/pr-conventional-commit.yml
  .github/workflows/pr-label-conventional-commits.yml
  .github/workflows/pr-label-file-based.yml
  .github/workflows/pr-label-public.yml
  .github/workflows/python-pull-request.yml
  .github/workflows/readthedocs-pr-update.yml
  .gitignore
  .pre-commit-config.yaml
Labels: sync, CI/CD

#159 chore: synced file(s) with ecmwf/reusable-workflows
  .release-please-config.json
Labels: sync
