Repository ecmwf/anemoi-utils, pull requests merged in 2025-01, with the labels that each got.

#72 feat(plot): added plotting options
  src/anemoi/utils/devtools.py
Labels: no changelog

#80 chore: synced file(s) with ecmwf-actions/reusable-workflows
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
  .github/dependabot.yml
  .github/labeler.yml
  .github/release.yml
  .github/workflows/ci.yml
  .github/workflows/downstream-ci-hpc.yml
  .github/workflows/merge-main-into-develop.yml
  .github/workflows/pr-conventional-commit.yml
  .github/workflows/pr-label-conventional-commits.yml
  .github/workflows/pr-label-file-based.yml
  .github/workflows/pr-label-public.yml
  .github/workflows/python-publish.yml
  .github/workflows/python-pull-request.yml
  .github/workflows/readthedocs-pr-update.yml
  .github/workflows/release-please.yml
  .gitignore
  .pre-commit-config.yaml
  .release-please-config.json
  .release-please-manifest.json
  CONTRIBUTORS.md
  LICENSE
  README.md
Labels: sync

#83 chore(main): Preparing Next Release for 0.4.12
  .release-please-manifest.json
  CHANGELOG.md
Labels: autorelease: pending
