Repository ecmwf/anemoi-utils, pull requests merged in 2025-07, with the labels that each got.

#176 chore(main): Release 0.4.28
  .release-please-manifest.json
  CHANGELOG.md
Labels: documentation, autorelease: pending

#178 feat: support negative timedelta
  src/anemoi/utils/dates.py
Labels: enhancement, ATS Approval not needed

#180 feat: better support for negative timedeltas
  src/anemoi/utils/dates.py
Labels: enhancement, ATS Approval not needed

#183 feat: Protect mlflow token file
  src/anemoi/utils/mlflow/auth.py
Labels: enhancement

#184 feat(deps): Use mlflow-skinny instead of mlflow
  pyproject.toml
Labels: enhancement, dependencies

#185 fix: clean utils
  src/anemoi/utils/mlflow/utils.py
  tests/test_mlflow_utils.py
Labels: tests

#175 feat(sanitise): Sanitation level
  src/anemoi/utils/sanitise.py
  tests/test_sanitise.py
Labels: enhancement, tests

#189 chore: synced file(s) with ecmwf/reusable-workflows
  .github/workflows/python-pull-request.yml
Labels: sync, CI/CD
