Repository ecmwf/anemoi-utils, pull requests merged in 2025-06, with the labels that each got.

#157 feat: add s3.object_exists() function
  src/anemoi/utils/remote/s3.py
Labels: enhancement

#163 chore(main): Release 0.4.24
  .release-please-manifest.json
  CHANGELOG.md
Labels: documentation, autorelease: pending

#168 feat: add function to test cli
  pyproject.toml
  src/anemoi/utils/cli.py
  src/anemoi/utils/grids.py
  src/anemoi/utils/testing.py
  tests/test_grids.py
Labels: enhancement, dependencies, tests

#171 chore(main): Release 0.4.26
  .release-please-manifest.json
  CHANGELOG.md
Labels: documentation, autorelease: pending

#173 chore: Update PR template CLA
  .github/pull_request_template.md
Labels: sync, CI/CD
