Repository ecmwf/anemoi-utils, pull requests merged in 2025-02, with the labels that each got.

#94 chore: synced file(s) with ecmwf-actions/reusable-workflows
  .github/pull_request_template.md
Labels: sync, CI/CD

#95 chore: synced file(s) with ecmwf-actions/reusable-workflows
  .github/labeler.yml
  .github/workflows/pr-label-conventional-commits.yml
  .release-please-config.json
Labels: sync, CI/CD

#96 docs: update logo
  docs/_static/logo.png
Labels: documentation

#97 chore: synced file(s) with ecmwf-actions/reusable-workflows
  .pre-commit-config.yaml
  src/anemoi/utils/caching.py
Labels: sync, CI/CD

#99 chore: synced file(s) with ecmwf-actions/reusable-workflows
  .release-please-config.json
Labels: sync

#98 chore: add type hints and doctrings
  pyproject.toml
  src/anemoi/utils/__init__.py
  src/anemoi/utils/__main__.py
  src/anemoi/utils/caching.py
  src/anemoi/utils/checkpoints.py
  src/anemoi/utils/cli.py
  src/anemoi/utils/commands/__init__.py
  src/anemoi/utils/commands/config.py
  src/anemoi/utils/commands/requests.py
  src/anemoi/utils/compatibility.py
  src/anemoi/utils/config.py
  src/anemoi/utils/dates.py
  src/anemoi/utils/devtools.py
  src/anemoi/utils/grib.py
  src/anemoi/utils/grids.py
  src/anemoi/utils/hindcasts.py
  src/anemoi/utils/humanize.py
  src/anemoi/utils/logs.py
  src/anemoi/utils/mars/__init__.py
  src/anemoi/utils/mars/requests.py
  src/anemoi/utils/provenance.py
  src/anemoi/utils/registry.py
  src/anemoi/utils/remote/__init__.py
  src/anemoi/utils/remote/s3.py
  src/anemoi/utils/remote/ssh.py
  src/anemoi/utils/s3.py
  src/anemoi/utils/sanitise.py
  src/anemoi/utils/text.py
  src/anemoi/utils/timer.py
  tests/test_caching.py
  tests/test_compatibility.py
  tests/test_dates.py
  tests/test_frequency.py
  tests/test_grids.py
  tests/test_provenance.py
  tests/test_remote.py
  tests/test_sanetise.py
  tests/test_utils.py
Labels: dependencies, CI/CD, tests

#100 feat: bugfix
  src/anemoi/utils/remote/__init__.py
Labels: enhancement

#102 chore: synced file(s) with ecmwf/reusable-workflows
  .github/workflows/pr-label-public.yml
  .github/workflows/python-publish.yml
  .github/workflows/python-pull-request.yml
Labels: sync, CI/CD
