Repository ecmwf/anemoi-utils, pull requests merged in 2025-08, with the labels that each got.

#193 fix: remove too many warnings
  src/anemoi/utils/config.py
Labels: bug

#196 chore(main): Release 0.4.32
  .release-please-manifest.json
  CHANGELOG.md
Labels: documentation, autorelease: pending

#198 chore(main): Release 0.4.33
  .release-please-manifest.json
  CHANGELOG.md
Labels: documentation, autorelease: pending

#202 chore(main): Release 0.4.34
  .release-please-manifest.json
  CHANGELOG.md
Labels: documentation, autorelease: pending

#200 feat: NoAuth for AML mlflow Logging
  src/anemoi/utils/mlflow/auth.py
  tests/test_mlflow_auth.py
Labels: contributor, tests, approved-for-ci
