Repository ecmwf/anemoi-utils, pull requests merged in 2025-03, with the labels that each got.

#103 chore: synced file(s) with ecmwf/reusable-workflows
  .gitignore
Labels: sync

#107 chore: synced file(s) with ecmwf/reusable-workflows
  .github/workflows/downstream-ci-hpc.yml
  .pre-commit-config.yaml
  .readthedocs.yaml
Labels: sync

#109 chore: fix misleading comment
  src/anemoi/utils/caching.py
Labels: enhancement

#112 feat: add robust requests
  pyproject.toml
  src/anemoi/utils/remote/__init__.py
Labels: enhancement, dependencies

#105 fix: add optional dependency. boto3 <= 1.36
  pyproject.toml
Labels: dependencies

#88 chore(main): Release 0.4.13
  .release-please-manifest.json
  CHANGELOG.md
Labels: documentation, autorelease: pending

#110 fix: plugin support
  .gitignore
  src/anemoi/utils/registry.py
  src/anemoi/utils/testing.py
Labels: bug, dependencies

#114 chore: synced file(s) with ecmwf/reusable-workflows
  .github/workflows/downstream-ci-hpc.yml
  .pre-commit-config.yaml
Labels: sync

#119 chore(main): Release 0.4.16
  .release-please-manifest.json
  CHANGELOG.md
Labels: documentation, autorelease: pending

#121 docs: Docathon
  docs/_static/logo.png
  docs/conf.py
  docs/index.rst
  docs/modules/testing.rst
Labels: documentation

#120 fix: plugin name on error
  src/anemoi/utils/registry.py
Labels: bug

#124 chore: synced file(s) with ecmwf/reusable-workflows
  .gitignore
  .pre-commit-config.yaml
Labels: sync, CI/CD

#125 docs: fix comment
  src/anemoi/utils/remote/__init__.py
Labels: enhancement

#128 feat: add generic env variables to override anemoi user config
  src/anemoi/utils/config.py
Labels: enhancement

#127 fix: Iterate over copy of sys.modules.
  src/anemoi/utils/provenance.py
Labels: contributor

#122 chore(main): Release 0.4.17
  .release-please-manifest.json
  CHANGELOG.md
Labels: documentation, autorelease: pending

#132 feat: add matching rules
  src/anemoi/utils/rules.py
Labels: enhancement

#135 chore(main): Release 0.4.18
  .release-please-manifest.json
  CHANGELOG.md
Labels: autorelease: pending
