Repository ecmwf/anemoi-utils, pull requests merged in 2025-04, with the labels that each got.

#136 feat: more testing support functions
  src/anemoi/utils/testing.py
Labels: enhancement

#133 docs: add api
  .readthedocs.yaml
  docs/Makefile
  docs/_templates/apidoc/package.rst.jinja
  docs/index.rst
  docs/scripts/api_build.sh
  pyproject.toml
Labels: documentation, dependencies

#131 feat: add generic types for registry
  src/anemoi/utils/registry.py
Labels: contributor

#137 chore(main): Release 0.4.19
  .release-please-manifest.json
  CHANGELOG.md
Labels: documentation, autorelease: pending

#139 feat: grid-support
  src/anemoi/utils/grids.py
Labels: enhancement

#141 fix: pydantic schemas
  pyproject.toml
  src/anemoi/utils/schemas/__init__.py
  src/anemoi/utils/schemas/errors.py
Labels: dependencies

#142 chore(main): Release 0.4.21
  .release-please-manifest.json
  CHANGELOG.md
Labels: documentation, autorelease: pending

#146 chore(main): Release 0.4.22
  .release-please-manifest.json
  CHANGELOG.md
Labels: documentation, autorelease: pending
