Repository ecmwf/anemoi-utils, pull requests merged in 2025-09, with the labels that each got.

#218 feat: Speedup checkpoint editing - remove compression
  src/anemoi/utils/checkpoints.py
  tests/test_checkpoints.py
Labels: tests, ATS Approval not needed

#219 feat: add aliases to registry
  pyproject.toml
  src/anemoi/utils/registry.py
  tests/test_registry.py
Labels: enhancement, dependencies, tests, ATS Approval not needed

#220 fix: Update s3 chunk size to 10 MB
  src/anemoi/utils/remote/s3.py
Labels: ATS Approval not needed

#222 fix: Use `yaml` and `json` flag in metadata get command
  src/anemoi/utils/commands/metadata.py
Labels: ATS Approval not needed

#217 feat(mlflow auth): Support for multiple servers
  src/anemoi/utils/mlflow/auth.py
  tests/test_mlflow_auth.py
Labels: tests, ATS Approval not needed

#221 chore(main): Release 0.4.37
  .release-please-manifest.json
  CHANGELOG.md
Labels: documentation, autorelease: pending
